body {
  min-width: 37rem;
}

/* Secondary information */

.secondaryInfoContainer::before {
  content: '';
  position: absolute;
  top: -1.7rem;
  right: 0;
  left: 0;
  height: .1rem;
  border-top: .1rem dashed #ccc;
}

.secondaryInfoContainer.beforePrimary::before {
  top: unset;
  bottom: -1.7rem;
}

.secondaryInfo {
  font-size: 1.4em;
  line-height: 1.3;
  margin: 0 3rem;
  padding: 0;
  color: #555;
}

#ratingHelpsDiscoverability {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  white-space: pre-line;
}

.secondaryInfoLink {
  color: #3673de;
  text-decoration: none;
}

.secondaryInfoLink:hover {
  text-decoration: underline;
}

/* Settings */

#settingsForm {
  margin: 2rem 3rem;
}

.settingsFormSelect {
  display: block;
  margin: .5rem 0;
}

#settingsForm .pwFormControls {
  display: flex;
  align-items: flex-start;
}

#settingsFormMessage {
  margin: 1.2rem 0 0 1rem;
}

/* Links */

#sisterProjectsHeading {
  font-size: 1.6em;
  margin: 4rem 3rem 1rem;
  font-weight: 500;
}

.links {
  margin: 0 3rem;
  padding-left: 1.7rem;
}

.linkWrapper {
  font-size: 1.4em;
  line-height: 1.2;
  margin-bottom: .5rem;
}

/* Copyright */

#copyright {
  margin: 4rem 0 0;
  padding: 1rem 2rem;
  background: linear-gradient( to bottom, rgba( 238, 238, 238, .65 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
}

#copyrightText {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}
